*{
    user-select: none;
}
p.controltime {
    float: left;
    left: 20px;
    font-size: small;
    position: absolute;
    color: white;
}

.playercontainer{
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.hidden{
    cursor: none;
}

.player{
    position: relative; 
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
}

.subtitlecontainer{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.controlscontainer{
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.controls{
    width: 32px;
    height: 32px;
    color: white;
}

.left{
    margin-right: 20px;
}

.right{
    margin-left: 20px;
}

@media only screen and (max-width: 1024px) {
    .playercontainer{
        width: 100%;
    }

    .controls{
        display: none;
    }
}