.slider-container{
  width: 10px;
  height: 200px;
  border: white;
  border-width: 2px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.slider-container:hover{
  cursor: pointer;
}


@media only screen and (max-height: 400px) {
  .slider-container{
    height: 100px;
  }
}